
.blog-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90%;
    padding:  200px 5% 40px;
    background-color: black;
    color: white; 
    margin: auto; 
}

.blog-title {
    text-align: center;
    font-size: 2.5em; 
    margin-bottom: 20px;
    font-family: 'Ysabeau SC', sans-serif;
    color: #61DAFB; 
}

.blog-article {
    border: 1px solid #444; 
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px; 
    max-width: 800px;
    box-shadow: 0 3px 4px rgb(0, 0, 0, 1), inset 0 -2px 5px rgba(0, 0, 0, 1),
    inset 0 4px 15px rgba(255, 255, 255, 0.245), 0 0 0 2px #000, 0 0 0 5px #000000,
    0 0 0 5.5px #080808;
    padding:35px;
    background:black;
}

.article-title {
    font-size: 1.8em; 
    font-family: 'Ysabeau SC', sans-serif;
    color: #61DAFB; 
}

.article-date {
    font-size: 0.9em;
    color: #bbb; 
    margin-bottom: 10px; 
    font-family: 'Ysabeau SC', sans-serif;
}

.article-intro {
    font-size: 1.5em; 
    color: #eee; 
    line-height: 1.5em; 
    font-family: 'Ysabeau SC', sans-serif;
    font-weight: 700;
}

.article-content {
    font-size: 1.1em; 
    color: #eee; 
    line-height: 1.6; 
    font-family: 'Ysabeau SC', sans-serif;
}

.article-sign {
    font-size: 1.1em; 
    color: #61DAFB;
    line-height: 1.6; 
    font-family: 'Ysabeau SC', sans-serif;
}


.error-message {
    color: red; 
}

@media (max-width: 600px) {
    .blog-title {
        font-size: 2em;
    }
    .article-title {
        font-size: 1.5em; 
    }
    .article-content {
        font-size: 1em; 
    }
}
