.details-pack {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 20px;
    background-color: rgba(0, 255, 255, 0.996);
    margin-top: 10px;
    color:black;
}

.details-pack.open {
    max-height: 200px; 
    padding: 20px;
    color: black;
}

.details-pack.open p {
    color: black;
}


