@font-face {
    font-family: 'Cinzel';
    src: url('../../assets/fonts/Cinzel-Regular.otf') format('truetype')
}


@font-face {
    font-family: 'Boheme';
    src: url('../../assets/fonts/Boheme\ Floral.ttf') format('truetype')
}

.container-hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin:0 auto;
    padding:0;
    background: #171717;
}

.box-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:90%;
    padding:5%;
}


.container-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50%;
    height:90%;
}

.we-are {
    bottom:0;
    font-size: 30px;
    line-height: 30px;
    color:white;
    font-family: 'Ysabeau SC', sans-serif;
}

.title-hero {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 40px;
    text-align: left;
    color:white;
    font-weight: 900;
    font-family: 'Cinzel';
}

.container-screens {
    width:50%;
    height:90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.asset-hero {
    width:100%;
    height:100%;
    object-fit: cover;
}

@media screen and (max-width:1007px) {  
    .we-are {
        font-size: 23px;
    }
    
    .title-hero {
        font-size: 24px;
    }

}


@media screen and (max-width:768px) {
    .box-hero {
        height:auto;
        display: flex;
        flex-direction: column;
    }

    /*.box-hero {
        /*height:400px;
        background: url('../../assets/images/backgroundHero.jpg') no-repeat center center;
        background-size: cover;
    }*/


    .container-txt {
        left: 0;
        padding: 0px;
        width:100%;
        justify-content: flex-start;
        align-items: center;
    }

    .container-screens {
        width:100%;
        margin: 0;
        padding: 0;
        right:0;
    }

    .we-are {
        font-size: 20px;
    }
    
    .title-hero {
        padding: 20px;
        font-size: 22px;
    }
}